<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <style>
            {
                text-align: center;
            }
        </style>
        <form action="{% url 'result' %}" method="POST">
            {% csrf_token %}
            <!-- <h3>Location</h3>
            <select id="first" name="location" type="number ">
                <option value="0">Ahmedabad</option>
                <option value="1">Bangalore</option>
                <option value="2">Chennai</option>
                <option value="3">Coimbatore</option>
                <option value="4">Delhi</option>
                <option value="5">Hyderabad</option>
                <option value="6">Jaipur</option>
                <option value="7">Kochi</option>
                <option value="8">Kolkata</option>
                <option value="9">Honda</option>
                <option value="10">Mumbai</option>
                <option value="11">Pune</option>
               
            </select> -->
            <h3>Kilometers Drived</h3><input id="second" name="kms" required="required">
            <h3>What Is the Fuel type?</h3><br><select name="fuel_type" id="fuel" required="required">
                <option value="0">CNG</option>
                <option value="1">Diesel</option>
                <option value="2">Electric</option>
                <option value="3">LPG</option>
                <option value="4">Petrol</option>
            </select>
            <!-- <h3>How much owners previously had the car(0 or 1 or 3) ?</h3><br> -->
            <!-- <select id="owners" name="owner" type="number ">
                <option value="0">First</option>
                <option value="1">Second</option>
                <option value="2">Third</option>
                <option value="3">Fourth & Above</option>
            </select> -->
            <h3>Transmission type</h3><br><select name="trans" id="research" required="required">
                <option value="0">Manual Car</option>
                <option value="1">Automatic Car</option>
        
            </select>
            <h3>Dealer Type</h3><br><select name="dealer" id="deal" required="required">
                <option value="0">Dealer</option>
                <option value="1">Individual</option>
                <option value="2">Trustmark Dealer</option>
        
            </select>
            <h3>Mileage</h3><input id="mileage_id" name="mileage" required="required">
            <h3>Engine</h3><input id="engine_id" name="engine" required="required">
            <h3>Max Power</h3><input id="maxp" name="max" required="required">
            <h3>Price</h3><input id="pri" name="price" required="required">
            <h3>Seats</h3><select id="seat_id" name="seat" required="required">
                <option value="5">5</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <h3>Company</h3>
            <select id="company_id" name="company" type="number " required="required">
                <!-- <option value="0">Ambassador</option> -->
                <option value="1">Audi</option>
                <option value="2">BMW</option>
                <option value="3">Bentley</option>
                <option value="4">Datsun</option>
                <option value="5">Ferrari</option>
                <option value="6">Force</option>
                <option value="7">Ford</option>
                <option value="8">Honda</option>
                <option value="9">Hyundai</option>
                <option value="10">ISUZU</option>
                <option value="11">Isuzu</option>
                <option value="12">Jaguar</option>
                <option value="13">Jeep</option>
                <option value="14">Kia</option>
                <option value="15">Land Rover</option>
                <option value="16">Lexus</option>
                <option value="17">MG</option>
                <option value="18">Mahindra</option>
                <option value="19">Maruti</option>
                <option value="20">Maserati</option>
                <option value="21">Mercedes-AMG</option>
                <option value="22">Mercedes-Benz</option>
                <option value="23">Mini</option>
                <option value="24">Nissan</option>
                <option value="25">Porsche</option>
                <option value="26">Renault</option>
                <option value="27">Rolls-Royce</option>
                <option value="28">Skoda</option>
                <option value="29">Tata</option>
                <option value="30">Toyota</option>
                <option value="31">Volkswagen</option>
                <option value="32">Volvo</option>
            </select>
            <h3>Age</h3><input id="age_id" name="age" required="required">

            <br><br><button id="sub" type="submit ">Calculate</button>
            <br>
        </form>
</body>

</html>